html,
body {
	min-width: 1122px;
	min-height: 1750px;
	margin: 0;
	padding: 0;
}
body {
	background: #000000 url(../img/barbershop-index.jpg) no-repeat 50% 3px;
	background-size: 1122px auto;
	color: #fff;
	}
nav>ul>li {
	display: inline-block;
}
.user-block a {
	float: right;
}

